# DATABASE URL
DATABASE_URL=""

# AUTH JS 
AUTH_SECRET=""

# APPLICATION_MAIN_URL
APP_URL=""
AUTH_TRUST_HOST=""
NEXT_PUBLIC_APP_URL=""

# FOR CRON JOBS 
CRON_SECRET=""  

# FOR GOOGLE OAUTH
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

# FOR MAIL SETUP
RESEND_API_KEY=""
RESEND_MAIL=""

# FOR AWS 
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""
S3_BUCKET=""

# FOR STRIPE AND PAYMENT SETUP 
STRIPE_API_KEY=""
STRIPE_WEBHOOK_SECRET=""

# STARTER PLAN HERE 
NEXT_PUBLIC_STRIPE_STARTER_MONTHLY_PLAN_ID=""
NEXT_PUBLIC_STRIPE_STARTER_YEARLY_PLAN_ID=""

# PLUS PLAN HERE 
NEXT_PUBLIC_STRIPE_PLUS_MONTHLY_PLAN_ID=""
NEXT_PUBLIC_STRIPE_PLUS_YEARLY_PLAN_ID=""

# PRO PLAN HERE 
NEXT_PUBLIC_STRIPE_PRO_MONTHLY_PLAN_ID=""
NEXT_PUBLIC_STRIPE_PRO_YEARLY_PLAN_ID=""
